{% extends './base.html' %}
{% load static %}
{% block content %}
<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">Hi! I’m <br> Jaime Cenzano <br> Python Developer</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src={% static 'images/illustrations/leaf-bg.png' %}  alt="bg-shape">
  </div>
  <div class="layer" id="l2">
    <img src={% static 'images/illustrations/dots-cyan.png'  %} alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src= {% static 'images/illustrations/leaf-orange.png' %} alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src= {% static 'images/illustrations/dots-orange.png' %} alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src={% static 'images/illustrations/leaf-yellow.png' %} alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src= {% static 'images/illustrations/leaf-cyan.png' %} alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src={% static 'images/illustrations/dots-group-orange.png' %} alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src= {% static 'images/illustrations/leaf-pink-round.png' %} alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src= {% static 'images/illustrations/leaf-cyan-2.png' %} alt="bg-shape">
  </div>  
<!-- social icon -->
<ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
  <li class="mb-3"><a class="text-white" href="#"><i class="ti-facebook"></i></a></li>
  <li class="mb-3"><a class="text-white" href="#"><i class="ti-instagram"></i></a></li>
  <li class="mb-3"><a class="text-white" href="#"><i class="ti-dribbble"></i></a></li>
  <li class="mb-3"><a class="text-white" href="#"><i class="ti-twitter"></i></a></li>
</ul>
<!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="#" class="btn btn-transparent">know more</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->


{% endblock content %}
